{% extends 'master.html' %}
{% load humanize %}

{% block 'title' %}
about
{% endblock %}

{% block 'content' %}

<form action="{% url 'product' %}" method="POST">
    {% csrf_token %}
    {{form}}
    <button type="submit">submit</button>
</form>
<hr>
<h2>Products</h2>
<table border="">
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th colspan="3">Tag</th>
    </tr>
    {% for product in products %}
    <tr>
        <td>{{product.name}}</td>
        <td><a href="{% url 'category-product' product.category %}">{{product.category}}</a></td>
        {%for tag in product.tag.all %}
        <td><a href="{% url 'tag-product' tag.id %}">{{tag.tag}} </a></td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<h2>tags </h2>
<ol>
    {% for tag in tags %}
        {% if tag.total_product > 0  %}
    <li><a href="{% url 'tag-product' tag.id %}">
        {{tag.tag}} --{{tag.total_product}} {% for item in tag.product_set.all %}#id: {{item.id}}-{{item.name}}{%endfor%}
    </a></li>
        {%endif%}
    {% endfor %}
</ol>


{% endblock %}